.highlights {
    &__el {
        background-color: var(--secondary-light);
        padding: 1rem;

        border-radius: var(--border-radius);
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;

        margin-bottom: 0.75rem;

        background-color: var(--secondary);
        border-radius: var(--border-radius);

        i {
            color: #fff;
        }
    }

    h3 {
        margin-bottom: 0.5rem;
        color: var(--txt-color);
        font-size: 1.4rem;
    }

    p {
        color: var(--txt-color);
    }
}
